<div class="form-card" style="margin: auto;">
    <h1>Créer un Compte e‑Banking</h1>
    <form>
      <label>Prénom
        <input type="text" [(ngModel)]="accountRequest.prenomTitulaire" placeholder="Votre prénom" name="prenomTitulaire" required />
      </label>
      <label>Nom de famille
        <input type="text" [(ngModel)]="accountRequest.nomTitulaire" name="nomTitulaire" placeholder="Votre nom" required />
      </label>
      <label>Email
        <input type="email" [(ngModel)]="accountRequest.emailTitulaire" name="emailTitulaire"  placeholder="exemple@mail.com" required />
      </label>
      <label>Numéro de téléphone
        <input type="tel" [(ngModel)]="accountRequest.numeroTelephone" name="numeroTelephone" placeholder="06 00 00 00 00" required />
      </label>
      <label>Pays de résidence
        <input type="text" [(ngModel)]="accountRequest.paysTitulaire" name="paysTitulaire" required />
      </label>

      <label>Ville de résidence
        <input type="text" [(ngModel)]="accountRequest.villeTitulaire" name="villeTitulaire" required />
      </label>
      <label>Adresse de résidence
        <input type="text" [(ngModel)]="accountRequest.adresseTitulaire" name="adresseTitulaire" required />
      </label>

      <label>Code postal
        <input type="text" [(ngModel)]="accountRequest.codePostalTitulaire" name="codePostalTitulaire" required />
      </label>

      <label>Type de compte
        <select [(ngModel)]="accountRequest.typeCompte" name="typeCompte" required>
          <option value="">-- Sélectionner --</option>
          <option ngValue="COURANT">Compte courant</option>
          <option ngValue="EPARGNE">Compte épargne</option>
        </select>
      </label>

      <label>Solde initial
        <input type="number" [(ngModel)]="accountRequest.soldeInitial" name="soldeInitial" placeholder="Montant en CFA" required />
      </label>
      <button class="btn full" (click)="createAccount()" type="submit">Créer le compte</button>
    </form>
  </div>